// Specific CSS for your home-page

body{
  background-color:$background-color;
  font-family:$body-font;
}

header.home-page{
  width:70%;
  height:10vh;
  margin:auto;
  padding:20px 20px;
}

div.langage{
  text-align: right;
}

main.home-page{
  width:70%;
  margin:20px auto;
  display:flex;
  flex-wrap:wrap;
  white-space: nowrap;

  section{
    flex: 1 1 auto;
    margin:auto 20px;
    padding:30px 40px 30px 40px;
    min-width:550px;
    background-color:white;
    border:2px solid $border-gray;
    box-shadow:3px 3px 5px #e1e1e1;

      .btn{
        margin-right:8px;
      }
  }

  section:nth-of-type(2){
    align-self:center;
    color:#555;
    padding-right:15px;
  }

  h1, h2{
    width:100%;
    margin:0px 0px 15px 0px;
  }
}

.hidden{
  visibility: false;
}

