// Describes CSS rules for Table on Index page

table.table-history{
  width:100%;
  margin:10px auto;

    tr{
      box-sizing:border-box;
      td:nth-of-type(1){
        width:60%;
        a,a:hover{
          text-decoration:none;
          color:inherit;
        }
      }
      td:nth-of-type(2){
        text-align:right;
      }
      td:nth-of-type(3){
        text-align:center;
        padding:2px 5px 0px 5px;
      }
    }
}
